.charityGuts {
  width: 70%;
  margin: 1rem;
}

.charityHeader {
  text-transform: lowercase;
  font-size: 2rem;
}


.viewCards {
  text-transform: lowercase;
}

.viewCharities {
  margin-left: 2rem;
}
