@import 'variables';
.charityContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.charity {
  display: flex;
  height: 300px;
  margin: 1rem;
  flex: 1 1 calc(32% - 1rem);
}

.charityImage {
  width: 300px;
  height: 300px;
  margin: 1rem;
  &:hover {
    cursor: pointer;
  }
}

charity-list {
  margin-top: 5rem;
}

.secured-metrics {
  display: flex;
  align-items: center;
  height: 6rem;
  width: 100%;
  background-color: $color-yellow-main;
  border: 0.5rem solid darken($color-yellow-main, 20%);
}
.amount-secured {
  background-color: purple;
  height: 100%;
}
.amount-desired {
  height: 100%;
}
