@import 'variables';

header {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  background: $color-yellow-main;
  background-repeat: repeat;
  background-blend-mode: multiply;
  width: 100%;
  border-bottom: 1rem solid darken($color-yellow-main, 20%);
  height: 8rem;
}
.container {
  padding: 0;
}
.logo {
  margin: 0;
  font-weight: bolder;
  font-size: 2rem;
  color: navy;
  flex: 1;
  transition: $transition-quick;
  .logo-medblue {
    color: lighten(navy, 50%);
  }
  .logo-lightblue {
    color: navy;
  }
  &:hover {
    cursor: pointer;
    color: lighten(navy, 40%);
    span {
      color: lighten(navy, 55%);
    }
  }
}
.header {
  display: flex;
  justify-content: space-between;
}
.navvy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0;
  @media #{$screen-small} {
    display: none;
  }
  ul {
    flex: 1;
    display: flex;

    justify-content: space-between;
    width: 60%;
    align-items: center;
    li {
      margin: 0 0.5rem 0 0;
    }
  }
}
.nav-cart-icon {
  display: flex;
  margin: 0 0 0 10%;
  align-items: center;
  justify-content: space-between;
  transition: $transition-quick;
  width: 15rem;
  #cart-count {
    margin: 0 0 0 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    color: tomato;
    text-align: center;
    border-radius: 5px;
    font-size: 1.6rem;
  }
  #open-cart-hover {
    opacity: 0;
    transform: translate(-4rem);
    color: white;
    transition: $transition-quick;
    z-index: 1;
  }
  p {
    margin: 0;
  }
    &:hover {
      svg {
      transform: scale(1.2);
    }
    #open-cart-hover {
      opacity: 1;
      transform: translate(0rem);
      color: white;
    }
  }
  .svgCart {
    svg {
      path {
        fill: #FFFFFF;
      }
    }
  }
}
