.picContainer {
  display: flex;
  flex-wrap: wrap;
}

.picture {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 1rem;
  flex: 1 1 calc(32% - 1rem);
  height: 300px;
  width: 300px;
}

.picImage {
  width: 80%;
  max-width: 700px;
  height: auto;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
  }
}

.picGuts {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 70%;
  border: 1px solid lighten(salmon, 10%);
  border-radius: 5px;
  background-color: lighten(salmon, 10%);
  select {
    margin-top: 10px;
    height: 30px;
  }
}

.returnToCards {
  font-size: 1.5rem;
  margin-left: 15%;
  margin-top: 1rem;
}

.selectHeader {
  margin-top: 15px;
  color: white;
  font-size: 2rem;
}

.addToCart {
  background-color: $color-yellow-main;
  box-shadow: 0 5px 0 $color-yellow-dark;
  color: darken($color-yellow-dark, 20%);
}
