h1 {
  color: blue;
}

.charity-list {
  position: absolute;
  left: 7000px;
  right: 0;
  top: 0;
  width: 80%;
  height: auto;
  margin: auto;
}

.cards {
  position: absolute;
  left: -7000px;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}

.home {
  position: absolute;
  left: 0;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}

.charityList {
  position: relative;
  left: 0;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}
.newCharity {
  position: relative;
  left: 4000px;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}
