// @import resources/styles/_buttons;
@import 'buttons';
@import 'header';
@import 'charities';
@import 'pictures';
@import 'variables';
@import 'modal';
@import 'charityDetail';
@import 'contact';


* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}
a {
  text-decoration: none;
  // color: black;
  &:hover {
    color: tomato;
    text-decoration: none;
  }
}

div.wrap {
  overflow-x: hidden;
}
my-app {
  display: flex;
  flex-direction: column;
  height: 100vh;

}
body {
  overflow-x: hidden;
}

section {
  flex: 1;
}

footer {
  background-color: lightgray;
  height: 6rem;
  width: 100%;
}

.form-control {
  width: 30%;
}

.charity-list {
  position: absolute;
  left: 7000px;
  right: 0;
  width: 80%;
  height: auto;
  margin: auto;
}

.cards {
  position: absolute;
  left: -7000px;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}


//•••••• HOME PAGE •••••••
.home {
  @media #{$screen-small} {
    height: 50vh;
    flex: 1 1 100%;
    flex-direction: column;
    .home-to-charities, .home-to-pics {
      height: 50vh;
      flex: 1 1 100%;
      &:hover {
        height: calc(50vh + 2rem);
        transform: translate(0, 0);
      }
    }
  }

}

//.homeCardsSlide contains the turquoise colored, "go to photos" slab
//.homeNewCharitySlide contains the salmon colored, "go to photos" slab
//Both classes reference jQuery page slide animations
.homeCardsSlide, .homeNewCharitySlide {
  display: flex;
  width: 100%;
}

// Wrapper inside .homeNewCharitySlide <div>
.home-to-charities {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: salmon;
  height: 100vh;
  // padding: 20% 0;
  flex: 1 1 50%;
  transition: $transition-quick;
  &:hover {
    cursor: pointer;
    height: calc(100vh + 1rem);
    transform: translate(0, -1rem);
    .home-icon-title {
      opacity: 1;
    }
  }
}

// Wrapper inside .homeCardsSlide <div>
.home-to-pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: turquoise;
  height: 100vh;
  flex: 1 1 50%;
  transition: $transition-quick;
  &:hover {
    cursor: pointer;
    height: calc(100vh + 1rem);
    transform: translate(0, -1rem);
    .home-icon-title {
      opacity: 1;
    }

  }
}
//Title Beneath Camera or Heart Icons
.home-icon-title {
  opacity: 0;
  color: white;
  transition: $transition-quick;
}
//Camera or Heart Icons
.home-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
  transition: $transition-quick;
  svg {
    height: 6rem;
    path {
      fill: #FFFFFF;
    }
  }
}

.home {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 100;
  width: 100%;
  height: auto;
  margin: auto;
}

.charityRequest {
  font-size: 20px;
}

.approve {
  width: 30px;
  border-radius: 50%;
  border: 1px solid #595959;
  padding: 3px 6px;
  color: green;
  margin-left: 40px;
}

.approve:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.reject {
  width: 30px;
  border-radius: 50%;
  border: 1px solid #595959;
  padding: 3px 9px;
  color: red;
}

.reject:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

//•••••• CHARITY •••••••

.charityList {
  left: 0;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}

.newCharity {
  position: relative;
  left: 4000px;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}



//•••••• HOME PAGE •••••••

// !!!ATTN!!! Are the following .cart, .shoppingCart, and .checkOutBtns rules in use?

// .cart {
//   display: none;
// }
//
// .shoppingCart {
//   margin: 1rem;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   img {
//     height: 100px;
//     width: 100px;
//     margin: 3px;
//   }
// }
//
// .checkoutBtns {
//   display: flex;
// }

//•••••• PICTURES •••••••

.apply {
  margin-left: 10%;
  display: none;
  .adminPage {
    display: none;
  }
  .loginFailed {
    display: none;
  }
  .userNotFound {
    display: none;
  }
}
