// @import resources/styles/_buttons;
@import 'buttons';
@import 'header';
@import 'charities';
@import 'pictures';
@import 'variables';
@import 'charityDetail';


* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
}
a {
  text-decoration: none;
  // color: black;
  &:hover {
    color: tomato;
    text-decoration: none;
  }
}
.container {
  // border: 1px solid blue;
}
body, html {

}
// .container {
//   width: 980;
//   margin: 0 auto;
// }
div.wrap {
  overflow-x: hidden;
}
my-app {
  display: flex;
  flex-direction: column;
  height: 100vh;

}
body {
  overflow-x: hidden;
}

section {
  flex: 1;
}

footer {
  background-color: lightgray;
  height: 6rem;
  width: 100%;

}

.charity-list {
  position: absolute;
  left: 7000px;
  right: 0;
  width: 80%;
  height: auto;
  margin: auto;
}

.cards {
  position: absolute;
  left: -7000px;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}


//•••••• HOME PAGE •••••••
.homeNewCharitySlide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: salmon;
  height: 100vh;
  // padding: 20% 0;
  flex: 1 1 50%;
  transition: $transition-quick;
  &:hover {
    cursor: pointer;
    height: calc(100vh + 1rem);
    transform: translate(0, -1rem);
    .home-icon-title {
      opacity: 1;
    }
  }
}
.home-icon-title {
  opacity: 0;
  color: white;
  transition: $transition-quick;
}
.home-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
  transition: $transition-quick;
  svg {
    height: 6rem;
    path {
      fill: #FFFFFF;
    }
  }
}

.home-cart-icon {
  height: 1rem;
  border: 1px solid purple;
  img {
    height: 1rem;
  }
}

.homeCardsSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: turquoise;
  height: 100vh;
  // width: 50%;
  flex: 1 1 50%;
  transition: $transition-quick;
  &:hover {
    cursor: pointer;
    height: calc(100vh + 1rem);
    transform: translate(0, -1rem);
    .home-icon-title {
      opacity: 1;
    }
  }
}

.home {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 100;
  width: 100%;
  height: auto;
  margin: auto;
}

//•••••• CHARITY •••••••

.charityList {
  // position: relative;
  left: 0;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}

.newCharity {
  position: relative;
  left: 4000px;
  right: 0;
  top: 100;
  width: 80%;
  height: auto;
  margin: auto;
}



//•••••• HOME PAGE •••••••

.cart {
  display: none;
}

.shoppingCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    height: 100px;
    width: 100px;
    margin: 3px;
  }
}

//•••••• PICTURES •••••••

.apply {
  margin-left: 10%;
  display: none;
  .adminPage {
    display: none;
  }
  .loginFailed {
    display: none;
  }
  .userNotFound {
    display: none;
  }
}


//•••••• MODAL •••••••

#welcome {
  text-align: center;
  h4 {
    font-weight: bold;
    font-size: 3rem;
  }
}
